In [235]:
import pandas as pd

In [236]:
jeongjae_dir = 'C:/Users/shic/Downloads/RAA_KRX업종분류현황.csv'
seunghun_dir = 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/stock/stock_preprocessed_top10.csv'

In [237]:
jeongjae_df = pd.read_csv(jeongjae_dir,dtype=str)
seunghun_df = pd.read_csv(seunghun_dir,dtype=str)

In [238]:
print(jeongjae_df.columns)
print(seunghun_df.columns)

Index(['기준일자', 'KRX지표업종구분코드', '종목코드', '종목명', '업종명', '종가', '전일종가대비금액',
       '전일종가대비등락율', '시가총금액'],
      dtype='object')
Index(['index', 'BASE_YMD', 'MRKT_TP_1_CODE', 'STK_STBD_CODE', 'STBD_NM',
       'KRX_INDC_CODE', 'CLOSV', 'P1DDF_RT', 'CURRV', 'HIGHV', 'LOWV',
       'TRDVM'],
      dtype='object')

In [239]:
print(jeongjae_df.shape)
print(seunghun_df.shape)

(9755659, 9)
(1007609, 12)

In [240]:
jeongjae_df.head(3)

,기준일자,KRX지표업종구분코드,종목코드,종목명,업종명,종가,전일종가대비금액,전일종가대비등락율,시가총금액
0,20010102,0,001460,BYC,003,39550,950,2.46,24703523250
1,20010102,0,001465,BYC(1우),003,19600,200,1.03,4221546000
2,20010102,0,014820,EASTEL,010,6410,170,2.72,152676969600

In [241]:
seunghun_df.head(3)

,index,BASE_YMD,MRKT_TP_1_CODE,STK_STBD_CODE,STBD_NM,KRX_INDC_CODE,CLOSV,P1DDF_RT,CURRV,HIGHV,LOWV,TRDVM
0,11262,2021-07-29,1,035760,CJ ENM,043,167900.0,0.0,167900.0,167900.0,167900.0,0.0
1,11263,2021-07-28,1,035760,CJ ENM,043,167900.0,5500.0,172700.0,172900.0,166100.0,186913.0
2,11264,2021-07-27,1,035760,CJ ENM,043,173400.0,2200.0,176000.0,176800.0,173300.0,88641.0

In [242]:
code_uni = seunghun_df['STK_STBD_CODE'].unique()
seunghun_df['BASE_YMD'] = seunghun_df['BASE_YMD'].str.replace('-','')
seunghun_df = seunghun_df[seunghun_df['BASE_YMD']!='20210730']

In [243]:
jeongjae_df['종목코드'] = jeongjae_df['종목코드'].str.zfill(6)
jeongjae_df_new = jeongjae_df[jeongjae_df['종목코드'].isin(code_uni)]
jeongjae_df_new

,기준일자,KRX지표업종구분코드,종목코드,종목명,업종명,종가,전일종가대비금액,전일종가대비등락율,시가총금액
9,20010102,0,030210,KTB네트워크,022,3800,0,0.0,229193549600
11,20010102,0,006360,LG건설,016,4450,-350,-7.29,226950000000
18,20010102,0,005940,LG투자증권,020,6790,880,14.89,831790922550
33,20010102,0,001510,SK증권,020,1675,215,14.73,449096261425
37,20010102,0,017670,SK텔레콤,018,260500,7500,2.96,23224270535000
...,...,...,...,...,...,...,...,...,...
9755619,20210730,1,059270,해성티피씨,031,21700,-850,-3.77,100471000000
9755621,20210730,1,900270,헝셩그룹,040,592,-6,-1.0,47360000000
9755635,20210730,1,064240,홈캐스트,048,3950,70,1.8,130724286200
9755643,20210730,1,090710,휴림로봇,032,1030,-20,-1.9,129110404210
9755652,20210730,1,263920,휴온스블러썸,036,4555,0,0.0,223400585370

In [244]:
df_join = pd.merge(seunghun_df,jeongjae_df_new,how='left',
                   left_on=['BASE_YMD','STK_STBD_CODE'],
                   right_on=['기준일자','종목코드'])
df_join.head(5)

,index,BASE_YMD,MRKT_TP_1_CODE,STK_STBD_CODE,STBD_NM,KRX_INDC_CODE,CLOSV,P1DDF_RT,CURRV,HIGHV,...,TRDVM,기준일자,KRX지표업종구분코드,종목코드,종목명,업종명,종가,전일종가대비금액,전일종가대비등락율,시가총금액
0,11262,20210729,1,035760,CJ ENM,043,167900.0,0.0,167900.0,167900.0,...,0.0,20210729,1,035760,CJ ENM,043,166500,-1400,-0.83,3651204141000
1,11263,20210728,1,035760,CJ ENM,043,167900.0,5500.0,172700.0,172900.0,...,186913.0,20210728,1,035760,CJ ENM,043,167900,-5500,-3.17,3681904956600
2,11264,20210727,1,035760,CJ ENM,043,173400.0,2200.0,176000.0,176800.0,...,88641.0,20210727,1,035760,CJ ENM,043,173400,-2200,-1.25,3802515303600
3,11265,20210726,1,035760,CJ ENM,043,175600.0,2600.0,174000.0,178100.0,...,155367.0,20210726,1,035760,CJ ENM,043,175600,2600,1.5,3850759442400
4,11266,20210723,1,035760,CJ ENM,043,173000.0,500.0,172500.0,174500.0,...,60128.0,20210723,1,035760,CJ ENM,043,173000,500,0.29,3793743642000

In [245]:
df_join = df_join.dropna()
df_join.isna().sum()

index             0
BASE_YMD          0
MRKT_TP_1_CODE    0
STK_STBD_CODE     0
STBD_NM           0
KRX_INDC_CODE     0
CLOSV             0
P1DDF_RT          0
CURRV             0
HIGHV             0
LOWV              0
TRDVM             0
기준일자              0
KRX지표업종구분코드       0
종목코드              0
종목명               0
업종명               0
종가                0
전일종가대비금액          0
전일종가대비등락율         0
시가총금액             0
dtype: int64

In [246]:
df_join_final = df_join.drop(['index','CLOSV','기준일자','MRKT_TP_1_CODE','종목코드','종목명','KRX_INDC_CODE'],axis=1)

In [247]:
df_join_final = df_join_final[['BASE_YMD','KRX지표업종구분코드','업종명','STK_STBD_CODE','STBD_NM','P1DDF_RT','CURRV','HIGHV','LOWV','종가','TRDVM',
                               '전일종가대비금액','전일종가대비등락율','시가총금액']]
df_join_final.columns = ['BASE_YMD','KRX_DRTPT_INDC_TP_CODE','KRX_INDC_CODE','STK_STBD_CODE','STBD_NM','P1DDF_RT','CURRV','HIGHV','LOWV','CLOSV',
                         'TRDVM','P1D_CLOSV_DIFF_AMT','P1D_CLOSV_DIFF_UPDOWN_RT','CURRV_TAMT']
df_join_final

,BASE_YMD,KRX_DRTPT_INDC_TP_CODE,KRX_INDC_CODE,STK_STBD_CODE,STBD_NM,P1DDF_RT,CURRV,HIGHV,LOWV,CLOSV,TRDVM,P1D_CLOSV_DIFF_AMT,P1D_CLOSV_DIFF_UPDOWN_RT,CURRV_TAMT
0,20210729,1,043,035760,CJ ENM,0.0,167900.0,167900.0,167900.0,166500,0.0,-1400,-0.83,3651204141000
1,20210728,1,043,035760,CJ ENM,5500.0,172700.0,172900.0,166100.0,167900,186913.0,-5500,-3.17,3681904956600
2,20210727,1,043,035760,CJ ENM,2200.0,176000.0,176800.0,173300.0,173400,88641.0,-2200,-1.25,3802515303600
3,20210726,1,043,035760,CJ ENM,2600.0,174000.0,178100.0,173600.0,175600,155367.0,2600,1.5,3850759442400
4,20210723,1,043,035760,CJ ENM,500.0,172500.0,174500.0,172500.0,173000,60128.0,500,0.29,3793743642000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007604,20120106,0,017,003280,흥아해운,11.0,706.0,706.0,674.0,681,169293.0,-11,-1.59,48155845830
1007605,20120105,0,017,003280,흥아해운,7.0,681.0,698.0,680.0,692,144870.0,7,1.02,48933693560
1007606,20120104,0,017,003280,흥아해운,12.0,697.0,706.0,681.0,685,307120.0,-12,-1.72,48438699550
1007607,20120103,0,017,003280,흥아해운,20.0,718.0,720.0,693.0,697,233570.0,-20,-2.79,49287260710
1007608,20120102,0,017,003280,흥아해운,12.0,759.0,759.0,695.0,717,259446.0,-12,-1.65,50701529310

In [248]:
df_join_final.to_csv('C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/stock/stock_join_final.csv',
                     index=False,encoding='UTF-8-sig')