In [1]:
import pandas as pd

In [2]:
dirr = 'C:/Users/rsh15/Google Drive/crawler_data/estate_registration/'

In [4]:
df = pd.read_csv(dirr + 'auction_count_by_age.csv')
df

,admin_regn1_name,bdata_age,sex,admin_regn2_name,tot,admin_regn1_cd,admin_regn2_cd,sex_cd,res_date,rdata_seq,search_real_cls,search_start_date,search_end_date
0,서울특별시,19세~29세,여자,강남구,1,11,강남구,F,2012-01,53,NaN,201201,201201
1,서울특별시,30세~39세,여자,강남구,4,11,강남구,F,2012-01,53,NaN,201201,201201
2,서울특별시,50세~59세,여자,강남구,4,11,강남구,F,2012-01,53,NaN,201201,201201
3,서울특별시,70세 이상,여자,강남구,1,11,강남구,F,2012-01,53,NaN,201201,201201
4,서울특별시,40세~49세,남자,강남구,2,11,강남구,M,2012-01,53,NaN,201201,201201
...,...,...,...,...,...,...,...,...,...,...,...,...,...
544212,경상남도,40세~49세,남자,창원시 의창구,1,48,창원시 의창구,M,2021-07,48,13323.0,202107,202107
544213,경상남도,50세~59세,남자,창원시 진해구,1,48,창원시 진해구,M,2021-07,48,13323.0,202107,202107
544214,제주특별자치도,50세~59세,여자,제주시,1,50,제주시,F,2021-07,48,13323.0,202107,202107
544215,제주특별자치도,19세~29세,남자,제주시,1,50,제주시,M,2021-07,48,13323.0,202107,202107
544216,제주특별자치도,50세~59세,남자,제주시,1,50,제주시,M,2021-07,48,13323.0,202107,202107

In [9]:
df_uni = df[['admin_regn1_name','admin_regn2_name',
             'bdata_age','sex','res_date','search_real_cls']].drop_duplicates()
df_uni

,admin_regn1_name,admin_regn2_name,bdata_age,sex,res_date,search_real_cls
0,서울특별시,강남구,19세~29세,여자,2012-01,NaN
1,서울특별시,강남구,30세~39세,여자,2012-01,NaN
2,서울특별시,강남구,50세~59세,여자,2012-01,NaN
3,서울특별시,강남구,70세 이상,여자,2012-01,NaN
4,서울특별시,강남구,40세~49세,남자,2012-01,NaN
...,...,...,...,...,...,...
544192,경상남도,고성군,30세~39세,남자,2021-07,13323.0
544196,경상남도,밀양시,30세~39세,남자,2021-07,13323.0
544201,경상남도,진주시,40세~49세,여자,2021-07,13323.0
544202,경상남도,진주시,60세~69세,여자,2021-07,13323.0
544203,경상남도,진주시,30세~39세,남자,2021-07,13323.0

In [8]:
df_list = []
for region in df_uni.iterrows():
    print(region[1][''])

['서울특별시' '부산광역시' '대구광역시' '인천광역시' '광주광역시' '대전광역시' '울산광역시' '세종특별자치시' '경기도'
 '강원도' '충청북도' '충청남도' '전라북도' '전라남도' '경상북도' '경상남도' '제주특별자치도']
['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구' '금정구' '기장군' '남구' '동구' '동래구' '부산진구' '북구' '사상구' '사하구' '서구' '수영구'
 '연제구' '영도구' '해운대구' '달서구' '달성군' '수성구' '강화군' '계양구' '남동구' '미추홀구' '부평구' '연수구'
 '옹진군' '광산구' '대덕구' '유성구' '울주군' '@' '가평군' '고양시 덕양구' '고양시 일산동구' '고양시 일산서구'
 '과천시' '광명시' '광주시' '구리시' '군포시' '김포시' '남양주시' '동두천시' '부천시' '성남시 분당구'
 '성남시 수정구' '성남시 중원구' '수원시 권선구' '수원시 영통구' '수원시 장안구' '수원시 팔달구' '시흥시'
 '안산시 단원구' '안산시 상록구' '안성시' '안양시 동안구' '안양시 만안구' '양주시' '양평군' '여주시' '연천군'
 '오산시' '용인시 기흥구' '용인시 수지구' '용인시 처인구' '의왕시' '의정부시' '이천시' '파주시' '평택시' '포천시'
 '하남시' '화성시' '강릉시' '고성군' '동해시' '삼척시' '속초시' '양구군' '양양군' '영월군' '원주시' '인제군'
 '정선군' '철원군' '춘천시' '태백시' '평창군' '홍천군' '화천군' '횡성군' '괴산군' '단양군' '보은군' '영동군'
 '옥천군' '음성군' '제천시' '증평군' '진천군' '청주시 상당구' '청주시 서원구' '청주시 청원구' '청주시 흥덕구'
 '충주시' '계룡시' '공주시' '금산군' '논산시' '당진시' '보령시' '부여군' '서산시' '서천군' '아산시' '예산군'
 '천안시 동남구' '천안시 서북구' '청양군' '태안군' '홍성군' '고창군' '군산시' '김제시' '남원시' '무주군' '부안군'
 '순창군' '완주군' '익산시' '임실군' '전주시 덕진구' '전주시 완산구' '정읍시' '진안군' '강진군' '고흥군' '광양시'
 '구례군' '나주시' '담양군' '목포시' '무안군' '보성군' '순천시' '신안군' '여수시' '영광군' '영암군' '완도군'
 '장성군' '장흥군' '진도군' '함평군' '해남군' '화순군' '경산시' '경주시' '고령군' '구미시' '군위군' '김천시'
 '문경시' '상주시' '성주군' '안동시' '영덕군' '영주시' '영천시' '예천군' '울릉군' '울진군' '의성군' '청도군'
 '청송군' '칠곡군' '포항시 남구' '포항시 북구' '거제시' '거창군' '김해시' '남해군' '밀양시' '사천시' '산청군'
 '양산시' '의령군' '진주시' '창녕군' '창원시 마산합포구' '창원시 마산회원구' '창원시 성산구' '창원시 의창구'
 '창원시 진해구' '통영시' '하동군' '함안군' '함양군' '합천군' '서귀포시' '제주시' '장수군' '곡성군' '영양군'
 '봉화군']
['19세~29세' '30세~39세' '50세~59세' '70세 이상' '40세~49세' '60세~69세' '0~18세(미성년자)'
 '기타']
['여자' '남자' '기타']
['2012-01' '2012-02' '2012-03' '2012-04' '2012-05' '2012-06' '2012-07'
 '2012-08' '2012-09' '2012-10' '2012-11' '2012-12' '2013-01' '2013-02'
 '2013-03' '2013-04' '2013-05' '2013-06' '2013-07' '2013-08' '2013-09'
 '2013-10' '2013-11' '2013-12' '2014-01' '2014-02' '2014-03' '2014-04'
 '2014-05' '2014-06' '2014-07' '2014-08' '2014-09' '2014-10' '2014-11'
 '2014-12' '2015-01' '2015-02' '2015-03' '2015-04' '2015-05' '2015-06'
 '2015-07' '2015-08' '2015-09' '2015-10' '2015-11' '2015-12' '2016-01'
 '2016-02' '2016-03' '2016-04' '2016-05' '2016-06' '2016-07' '2016-08'
 '2016-09' '2016-10' '2016-11' '2016-12' '2017-01' '2017-02' '2017-03'
 '2017-04' '2017-05' '2017-06' '2017-07' '2017-08' '2017-09' '2017-10'
 '2017-11' '2017-12' '2018-01' '2018-02' '2018-03' '2018-04' '2018-05'
 '2018-06' '2018-07' '2018-08' '2018-09' '2018-10' '2018-11' '2018-12'
 '2019-01' '2019-02' '2019-03' '2019-04' '2019-05' '2019-06' '2019-07'
 '2019-08' '2019-09' '2019-10' '2019-11' '2019-12' '2020-01' '2020-02'
 '2020-03' '2020-04' '2020-05' '2020-06' '2020-07' '2020-08' '2020-09'
 '2020-10' '2020-11' '2020-12' '2021-01' '2021-02' '2021-03' '2021-04'
 '2021-05' '2021-06' '2021-07']