In [68]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [69]:
dirr = 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/stock/'

In [70]:
df = pd.read_csv(dirr+'/stock_price_record.csv',dtype={'code':'str'})
kospi_code = pd.read_csv(dirr+'/kospi_code.csv',encoding='CP949',dtype={'종목코드':'str'})
kosdaq_code = pd.read_csv(dirr+'/kosdaq_code.csv',encoding='CP949',dtype={'종목코드':'str'})

In [71]:
df = df.dropna(axis=0)
df = df.reset_index(drop=True)
df = df.rename(columns = {'code':'종목코드','type':'시장구분'})
df['날짜'] = df['날짜'].str.replace('.','',regex=False)

In [72]:
df['시장구분'] = df['시장구분'].str.upper()

In [73]:
code_df = pd.concat([kospi_code,kosdaq_code],axis=0)
code_df = code_df[['종목코드','종목명','시장구분','업종명']]
code_df

        종목코드      종목명    시장구분     업종명
0     095570   AJ네트웍스   KOSPI    서비스업
1     006840    AK홀딩스   KOSPI    기타금융
2     027410      BGF   KOSPI    기타금융
3     282330   BGF리테일   KOSPI     유통업
4     138930  BNK금융지주   KOSPI    기타금융
...      ...      ...     ...     ...
1503  024060     흥구석유  KOSDAQ      유통
1504  010240       흥국  KOSDAQ   기계·장비
1505  189980   흥국에프엔비  KOSDAQ  음식료·담배
1506  037440       희림  KOSDAQ   기타서비스
1507  238490       힘스  KOSDAQ     반도체

[2437 rows x 4 columns]

In [74]:
df_bind = pd.merge(df,code_df,how='left',on=['종목코드','시장구분'])

In [75]:
krx_code = pd.read_csv('C:/Users/shic/Desktop/tmpp_code.csv',dtype={'업종코드':'str','업종명':'str'})

In [76]:
df_bind = pd.merge(df_bind,krx_code,how='left',on = '업종명')
df_bind

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,시장구분,종목명,업종명,업종코드
0,20210729,3275.0,0.0,3275.0,3275.0,3275.0,0.0,060310,KOSDAQ,3S,기계·장비,032
1,20210728,3275.0,85.0,3345.0,3390.0,3220.0,551351.0,060310,KOSDAQ,3S,기계·장비,032
2,20210727,3360.0,55.0,3305.0,3435.0,3275.0,676552.0,060310,KOSDAQ,3S,기계·장비,032
3,20210726,3305.0,105.0,3395.0,3400.0,3245.0,772081.0,060310,KOSDAQ,3S,기계·장비,032
4,20210723,3410.0,50.0,3405.0,3625.0,3325.0,4123591.0,060310,KOSDAQ,3S,기계·장비,032
...,...,...,...,...,...,...,...,...,...,...,...,...
5546009,20110630,872.0,7.0,883.0,883.0,864.0,102536.0,003280,KOSPI,흥아해운,운수창고업,017
5546010,20110629,879.0,1.0,873.0,880.0,868.0,112486.0,003280,KOSPI,흥아해운,운수창고업,017
5546011,20110628,880.0,18.0,887.0,909.0,875.0,123722.0,003280,KOSPI,흥아해운,운수창고업,017
5546012,20110627,898.0,6.0,894.0,910.0,875.0,129440.0,003280,KOSPI,흥아해운,운수창고업,017
5546013,20110624,892.0,25.0,870.0,918.0,870.0,277287.0,003280,KOSPI,흥아해운,운수창고업,017

In [77]:
df_bind['시장구분'] = df_bind['시장구분'].replace({'KOSPI':'0','KOSDAQ':'1'})

In [78]:
df_bind = df_bind[['날짜','시장구분','종목코드','종목명','업종코드','종가','전일비','시가','고가','저가','거래량']]
df_bind.columns = ['BASE_YMD','MRKT_TP_1_CODE','STK_STBD_CODE','STBD_NM','KRX_INDC_CODE','CLOSV','P1DDF_RT','CURRV','HIGHV','LOWV','TRDVM']
df_bind

,BASE_YMD,MRKT_TP_1_CODE,STK_STBD_CODE,STBD_NM,KRX_INDC_CODE,CLOSV,P1DDF_RT,CURRV,HIGHV,LOWV,TRDVM
0,20210729,1,060310,3S,032,3275.0,0.0,3275.0,3275.0,3275.0,0.0
1,20210728,1,060310,3S,032,3275.0,85.0,3345.0,3390.0,3220.0,551351.0
2,20210727,1,060310,3S,032,3360.0,55.0,3305.0,3435.0,3275.0,676552.0
3,20210726,1,060310,3S,032,3305.0,105.0,3395.0,3400.0,3245.0,772081.0
4,20210723,1,060310,3S,032,3410.0,50.0,3405.0,3625.0,3325.0,4123591.0
...,...,...,...,...,...,...,...,...,...,...,...
5546009,20110630,0,003280,흥아해운,017,872.0,7.0,883.0,883.0,864.0,102536.0
5546010,20110629,0,003280,흥아해운,017,879.0,1.0,873.0,880.0,868.0,112486.0
5546011,20110628,0,003280,흥아해운,017,880.0,18.0,887.0,909.0,875.0,123722.0
5546012,20110627,0,003280,흥아해운,017,898.0,6.0,894.0,910.0,875.0,129440.0
5546013,20110624,0,003280,흥아해운,017,892.0,25.0,870.0,918.0,870.0,277287.0

In [79]:
df_bind['BASE_YMD'] = pd.to_datetime(df_bind['BASE_YMD'],format='%Y%m%d')
df_bind = df_bind[df_bind['BASE_YMD'] > '20111231']

In [80]:
aa = df_bind.groupby(['KRX_INDC_CODE','STBD_NM'],as_index=False)['TRDVM'].mean()
aa_large = aa.groupby('KRX_INDC_CODE')['TRDVM'].nlargest(10).reset_index()
aa['index_num'] = aa.index.values

In [81]:
top_stock = pd.merge(aa_large,aa,how='left',
         left_on='level_1',right_on='index_num')
top_stock

,KRX_INDC_CODE_x,level_1,TRDVM_x,KRX_INDC_CODE_y,STBD_NM,TRDVM_y,index_num
0,000,5,2.667926e+05,000,아시아종묘,2.667926e+05,5
1,000,2,1.390132e+05,000,동원수산,1.390132e+05,2
2,000,0,1.207421e+05,000,농우바이오,1.207421e+05,0
3,000,3,2.668604e+04,000,사조산업,2.668604e+04,3
4,000,4,1.941599e+04,000,신라교역,1.941599e+04,4
...,...,...,...,...,...,...,...
480,053,2421,1.821222e+06,053,위지윅스튜디오,1.821222e+06,2421
481,054,2435,1.630593e+06,054,아난티,1.630593e+06,2435
482,054,2433,6.573472e+05,054,디딤,6.573472e+05,2433
483,054,2434,1.571896e+05,054,서부T&D,1.571896e+05,2434
484,055,2436,2.850022e+05,055,지에스이,2.850022e+05,2436

In [82]:
df_bind = df_bind[df_bind['STBD_NM'].isin(top_stock['STBD_NM'])].reset_index()

In [83]:
df_bind.to_csv('C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/stock/stock_preprocessed_top10.csv',index=0,encoding='UTF-8-sig')